@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide scrollbar for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}